node_modules/
.expo/
dist/
build/
android/
ios/
*.orig.*
web-build/
.DS_Store
*.env
*.env.local
*.env.production
google-service-account.json
.idea/
.vscode/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
yarn-error.log
npm-debug.log*
.idea
*.iml
.gradle
local.properties
